<servlet id="jsp">
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
   <init-param>
        <param-name>keepgenerated</param-name>
        <param-value>true</param-value>
   </init-param>
   <error-page>
     <error-code>404</error-code>
     <location>/error404.nsp</location>
   </error-page>
</servlet>    
